<% content_for(:title, 'Login: The Box Noir') %>



<%= form_for(:session, :url => session_index_path, :html => {:class => 'form-signin'}, :method => :post) do |f| %>
	<h2 class="form-signin-heading"><b>Welcome back,</b> old friend.</h2>
		<% if flash %>
			<% flash.each do |key, notice| %>
				<span><span><% key %></span><%= notice %></span>
			<% end %>
		<% end %>
		<%= f.email_field(:email_address, :class => 'form-control', :autofocus => 'autofocus') %>
		<%= f.password_field(:password, :class => 'form-control') %>
		<%= f.label(:remember_me, :class => 'checkbox') do %>
			<%= f.check_box(:remember_me, :checked => 'checked') %>
			Remember Me
		<% end %>
	<%= f.submit('Login', :name => nil, :class => 'btn btn-lg btn-primary btn-block') %>
<% end %>
