<h1>Users logs in here</h1>

<p>Find me in app/views/session/create.html.erb</p>


<%= form_for(:session, :url => session_index_path, :method => :post) do |f| %>
	<ul>
		<% if flash %>
			<% flash.each do |key, notice| %>
				<li><span><% key %></span><%= notice %></li>
			<% end %>
		<% end %>
		<li>
			<%= f.label(:email_address) %>
			<%= f.email_field(:email_address, :autofocus => 'autofocus') %>
		</li>       
		<li>
			<%= f.label(:password) %>
			<%= f.password_field(:password) %>
		</li>
	</ul>
	<%= f.check_box(:remember_me, :class => 'login_re left', :checked => 'checked') %>
	<%= f.label(:remember_me, 'Remember me', :class => 'login_re_lab left', :style => 'width:auto;') %>
	<%= f.submit('Login', :name => nil) %>
<% end %>
