<script>
	$(function(){
		var images = ['idx_first_1.jpg', 'idx_first_2.jpg', 'idx_first_3.jpg', 'idx_first_4.jpg', 'idx_first_5.jpg'];
		$('#backdrop').css({'background-image': 'url(assets/' + images[Math.floor(Math.random() * images.length)] + ')'});
	});
</script>

<%= render(:partial => 'partials/bar') -%>

<div id="backdrop">
	<div class="navbar navbar-opaque">
		<div class="container">
			<%= link_to(root_url) do %>
				<%= image_tag('logo.png', :id => 'nav-logo')%>
			<% end %>
	  </div>
	</div>
  <div class="jumbotron">
    <div class="container">
			<%= image_tag('pitch.png', :id => 'pitch-banner')%>
			<div id="jumbotron-pitch">
			<form action="<%= reserve_path %>" method="get" >
				 <%= email_field_tag :email, nil, class: 'form-control', placeholder: 'your email address' %>
				 <%= submit_tag "reserve my box", class: 'btn btn-primary btn-lg', name: nil %>
			</form>
			</div>
			<div id="jumbotron-promo">
				<span class="sprite-discount"></span>
				<p><b>Free shipping</b> on every order. <b>Reserve your box</b> today!</p>
			</div>
    </div>
  </div>
</div>

<div class="turn">
	<div class="container">
		<div class="turn-header">
			<h1>Choose the box that's right for you.</h1>
		</div>
	  <div class="row">
	    <div class="col-lg-4">
				<div class="col-header">wine taster subscription</div>
	      <span class="col-ic col-wine"></span>
				<div class="col-bottom">
		      <p class="col-p">
						Receive 3 bottles of handpicked fine wines / month
					</p>
		      <p><a class="btn btn-info" href="#">Reserve this Box</a></p>
				</div>
	    </div>
	    <div class="col-lg-4">
				<div class="col-header">beer enthusiast subscription</div>
	      <span class="col-ic col-beer"></span>
				<div class="col-bottom">
		      <p class="col-p">
						Receive 6 new and exotic, craft, and imported beers / month
					</p>
		      <p><a class="btn btn-info" href="#">Reserve this Box</a></p>
				</div>
	   </div>
	    <div class="col-lg-4">
				<div class="col-header">cocktail subscription</div>
	      <span class="col-ic col-ctail"></span>
				<div class="col-bottom">
		      <p class="col-p">
						Receive 2 cocktails + ingredients + complimentary wine and beer / month
					</p>
		      <p><a class="btn btn-info" href="#">Reserve this Box</a></p>
				</div>
	    </div>
	  </div>
		<div class="turn-footer">
			<p>The Box Noir ships on the 10th of every month. We currently operate only in the state of <a href="#">California</a>.  </p>
		</div>
	</div>
</div>

<div class="prestige">
	<div class="container">
		<div class="prestige-body">
			<h1>Inside the box</h1><br />
			<p>
				Inside every box is a one-of-a-kind education. We don't just send you sample sizes bottles. With each box, we're helping you build a collection you'll be proud to show and serve to your friends, family, and guests. 
				<br /><br />
				Look forward to seasonal surprises such as barware, exclusive recipes, and <b>Noir’s Guide to Drinking</b> (a glossary of drinking terms and a look into the history of alcohol). 
			</p>
			<br /><br />
			<p><a class="btn btn-primary" href="#">reserve my box now</a></p>
		</div>
	</div>
</div>

<%= render(:partial => 'partials/footer') -%>

