<script>
	$(function(){
		var images = ['idx_first_1.jpg', 'idx_first_2.jpg', 'idx_first_3.jpg', 'idx_first_4.jpg', 'idx_first_5.jpg'];
		$('#backdrop').css({'background-image': 'url(assets/' + images[Math.floor(Math.random() * images.length)] + ')'});
	});
</script>

<%= render(:partial => 'partials/bar') -%>

<div id="backdrop">
	<div class="navbar navbar-opaque">
		<div class="container">
			<%= image_tag('logo.png', :id => 'nav-logo')%>
	  </div>
	</div>
  <div class="jumbotron">
    <div class="container">
			<div id="jumbotron-pitch">
      <p>We help you find the right alcoholic beverages for your unique palate. No more guesswork, no more bad advice, just damn good drinks delivered straight to your door every month for as low as $49/month.</p>
			<%= form_for @waitlist do |f| %>
				<%= f.email_field :email_address, :placeholder => 'your email address', :class => 'form-control' %>
				<%= f.submit "reserve my box", :class => 'btn btn-primary btn-lg' %>
			<% end %>
			</div>
			<div id="jumbotron-promo">
				<span class="sprite-discount"></span>
				<p><b>Free shipping</b> on every order. <b>Reserve your box</b> today!</p>
			</div>
    </div>
  </div>
</div>

<div class="turn">
	<div class="container">
		<div class="turn-header">
			<h1>Select a plan that's right for you.</h1>
		</div>
	  <div class="row">
	    <div class="col-lg-4">
				<div class="col-header">one month subscription</div>
	      <h2>$49</h2>
				<div class="col-bottom">
		      <p>
						Original price $49 per box.
					</p>
		      <p><a class="btn btn-info" href="#">Buy 1 month</a></p>
				</div>
	    </div>
	    <div class="col-lg-4">
				<div class="col-header">six month subscription</div>
	      <h2>$180</h2>
				<div class="col-bottom">
		      <p>
						Save $10 per box.
					</p>
		      <p><a class="btn btn-info" href="#">Buy 6 months</a></p>
				</div>
	   </div>
	    <div class="col-lg-4">
				<div class="col-header">twelve month subscription</div>
	      <h2>$300</h2>
				<div class="col-bottom">
		      <p>
						Save $15 per box.
					</p>
		      <p><a class="btn btn-info" href="#">Buy 12 months</a></p>
				</div>
	    </div>
	  </div>
		<div class="turn-footer">
			<p>The Box Noir ships on the 10th of every month. Check if we ship to <a href="#">your state</a>.  </p>
		</div>
	</div>
</div>

<div class="prestige">
	<div class="container">
		<div class="prestige-body">
			<h1>Inside the box</h1><br />
			<p>
				Every box includes key ingredients for 
				one fine cocktail, one specialty beer, and one extraordinary wine. 
				<br /><br />
				Look forward to seasonal surprises such as barware, shot glasses, and <b>Noir’s Guide to Drinking</b> (a glossary of drinking terms and a look into the history of alcohol). 
			</p>
			<br /><br />
			<p><a class="btn btn-primary" href="#">reserve my box now</a></p>
		</div>
	</div>
</div>

<%= render(:partial => 'partials/footer') -%>

