<%= render(:partial => 'partials/bar') -%>
<div class="navbar navbar-alt">
	<div class="container">
		<%= link_to(root_url) do %>
			<%= image_tag('logo.png', :id => 'nav-logo-alt')%>
		<% end %>
  </div>
</div>
<div id="turn-one" class="turn">
	<div class="container">
		<div class="turn-header">
			<%= form_for @waitlist, remote: true do |f| %>
			<h1>1. Enter your email address.</h1>
				<%= f.email_field :email_address, placeholder: 'your email address', class:'form-control', value: params[:email], autofocus: 'autofocus' %>
			<hr>
		</div>
		<div class="turn-header">
			<h1>2. Who is the box for?</h1>
			<%= f.fields_for :gender, @waitlist.gender do |s| %>		
				<div class="row row-form">
				<div class="col-lg-4">
					<%= s.check_box :man, class: 'col-checkbox' %>
					<label for="waitlist_gender_man">
						<h1>Man</h1>
					</label>
				</div>
				<div class="col-lg-4">
					<%= s.check_box :woman, class: 'col-checkbox' %>
					<label for="waitlist_gender_woman">
						<h1>Woman</h1>
					</label>
				</div>			
			</div>
			<% end %>
			<hr>
		</div>

		<div class="turn-header">
			<h1>3. Choose the boxes you'd like to reserve.</h1>
			<%= f.fields_for :type, @waitlist.type do |s| %>
				<div class="row row-form">
				<div class="col-lg-4">
					<%= s.check_box :ctailbox, class: 'col-checkbox' %>
					<label for="waitlist_type_ctailbox">
						<h1>The Original Box Noir</h1>
						<p>Receive 2 cocktails (w/ingredients) and complimentary wine and beer every month</p>
					</label>
				</div>
				<div class="col-lg-4">
					<%= s.check_box :winebox, class: 'col-checkbox' %>
					<label for="waitlist_type_winebox">
						<h1>Wine Taster Box</h1>
						<p>Receive 3 bottles of hand-picked fine wines every month</p>
					</label>
				</div>
				<div class="col-lg-4">
					<%= s.check_box :beerbox, class: 'col-checkbox' %>	
					<label for="waitlist_type_beerbox">
						<h1>Beer Enthusiast Box</h1>
						<p>Receive 6 new and exotic, craft, and imported beers every month</p>
					</label>
				</div>
			</div>
		</div>
	  <div class="turn-header">
				<hr>
				<%= f.submit "reserve my box", :class => 'btn btn-primary btn-lg' %>
				<% end %>
			<% end %>
		</div>
	</div>
</div>
<div id="turn-two" class="turn">
	<div class="container">
		<div class="turn-header">
			<h1>Thanks for your reservation!</h1><br />
			<p>
				A sincere thanks for giving our product a try. A confirmation has been sent to your email. <br />
				The Box Noir ships on the 10th of every month. <br />
				We currently ship only within the state of <a href="#">California</a>. But don't fret! We're expanding beyond state lines soon.</p> 
			<hr>
		</div>
	</div>
</div>
<div class="turn">
	<div class="container">
		<div class="turn-header">
		<h1 style="text-align:center;">What happens next?</h1>
	</div>
		<div class="row">
	    <div class="col-lg-4">
				<div class="col-container">				
		      <span class="col-ic col-email"></span>
					<div class="col-bottom">
			      <p class="col-p">
							Once your subscription is ready, we will send you an email with a link to claim your subscription. 
						</p>
					</div>
				</div>
	    </div>
	    <div class="col-lg-4">
				<div class="col-container">
		      <span class="col-ic col-comp"></span>
					<div class="col-bottom">
			      <p class="col-p">
							Enter your delivery information and create your taster's profile so we can start learning what you like.
						</p>
					</div>
				</div>
	   	</div>
    	<div class="col-lg-4">
				<div class="col-container">	
		      <span class="col-ic col-truck"></span>
					<div class="col-bottom">
			      <p class="col-p">
							Sit back and relax while we deliver a box of fine drinks and other goodies straight to your doorstep every month. 
						</p>
					</div>
				</div>
    	</div>
  </div>
		<div class="turn-header">
			<hr>
				<a href="https://www.facebook.com/theboxnoir" rel="nofollow" target="_BLANK">
					<div class="btn btn-lg btn-fb">like us on facebook</div>
				</a>
				<a href="https://twitter.com/TheBoxNoir" rel="nofollow" target="_BLANK">
					<div class="btn btn-lg btn-tw">follow us on twitter</div>
				</a>
		</div>
	</div>
</div>
<%= render(:partial => 'partials/footer') -%>
