<% content_for(:title, 'About: The Box Noir') %>

<div class="col-xs-12 col-sm-9">
  <div id="about-jumbotron" class="jumbotron">
		<%= image_tag('about.png')%>
  </div>
	<div id="about-page-header" class="page-header">
		<p>The Box Noir was founded to make the experience of drinking better in every way imaginable.</p>
	</div>
	<div id="about-page-founders">
		<%= image_tag('vivian.png')%>
		<span id="founders">
			<p>
				<b><i>Vivian Xue</i></b> <br />
				Founder + CEO @ The Box Noir<br />
				Twitter: <a href="http://twitter.com/vivianwxue" rel="no_follow" target="_BLANK">@vivianwxue</a><br />
				<a href="mailto:vivian@theboxnoir.com" rel="no_follow">vivian (at) theboxnoir.com</a>
			</p>
		</span>
	</div>
	<p class="about-page-body">
	On her 21st birthday, Vivian Xue made a lofty resolution to try every alcoholic beverage on the planet. She wanted to order drinks like James Bond did in Casino Royale and talk about wines and whiskeys like a pro. Honoring this resolution became incredibly costly on a college budget. A few disappointing bottles of vodka later, Vivian abandoned her goal and was forced to play it safe with mojitos and grocery store moscato d'asti. A whole year later, Vivian heard a colleague joke about a lame business model "like Birchbox for alcohol". She took the lame business model and ran with it, secretly ecstatic about the second chance she had at finally staying true to her resolution. Equipped with 2 of the best advisers and engineers, the Box Noir was born. 
	<br />
	<br /s>
	The Box Noir offers more than a subscription. We offer an experience through the art of drinking. Every box is either a lesson in flavor, in history, or in culture. Because we're a small shop, we make every box to order. If you're even remotely interested in even the idea of drinking, please reserve your box today. Choose the subscription you'd like to reserve. No obligation and no payment until we're ready to ship your first box. 
	</p>
	<div class="about-turn turn">
		<div class="row">
	  <div class="col-lg-4">
		<div class="col-container">
			<div class="col-header">wine subscription</div>
	     <span class="col-ic col-wine"></span>
			<div class="col-bottom">
				<%= link_to(reserve_url) do %>		
					<span class="btn btn-info">Reserve this Box</span>
				<% end %>					
			</div>
		</div>
	  </div>
	  <div class="col-lg-4">
		<div class="col-container">
			<div class="col-header">beer subscription</div>
	     <span class="col-ic col-beer"></span>
			<div class="col-bottom">
				<%= link_to(reserve_url) do %>		
					<span class="btn btn-info">Reserve this Box</span>
				<% end %>
			</div>
		</div>
	 </div>
	  <div class="col-lg-4">
		<div class="col-container">
			<div class="col-header">cocktail subscription</div>
	     <span class="col-ic col-ctail"></span>
			<div class="col-bottom">
				<%= link_to(reserve_url) do %>		
					<span class="btn btn-info">Reserve this Box</span>
				<% end %>
			</div>
		</div>
	  </div>
	</div>
	</div>
</div>

