<% content_for :stylesheets do %>
	<%= stylesheet_link_tag 'session' -%>
<% end %>


<% content_for :content do %>
	<div id="session">
		<%= render(:partial => 'partials/bar') -%>
		<div class="navbar navbar-alt navbar-opaque">
			<div class="container">
				<%= image_tag('logo.png', :id => 'nav-logo-alt')%>
		  </div>
		</div>
		<div class="container">
			<%= yield %>
		</div>
	</div>		
<% end %>

<%= render :template => 'layouts/template/application' -%>



